.box{
  background-color: black;
  opacity: 0.9;
  box-shadow: 0px 10px 25px black;
  padding: 25px;
  margin: 100px;
  color:orange;
  border-radius: 50px;
}
.green-button{
  background-color: #82c04b;
}
