#myButton{
   size: 50px;
}
.container{
  background-image: url("../img/ballbeach.gif");
}
.box{
  background-color: black;
  opacity: 0.9;
  box-shadow: 5px 10px 18px orange;
  padding: 25px;
  margin: 100px;
  color:limegreen;
}
p{
  opacity: 1;
}
